@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('./reset.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Dancing Script'; 
    src: url("../fonts/DancingScript-Regular.otf") format("opentype");
    font-style: normal;
}
/* Style the Image Used to Trigger the Modal */
.image {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
#currentImage {
    border-radius: 10px;
    max-height: 30em;
  }
.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1.0s;
}
  @keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }

  .image:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 1.0s;
  }
  
  @keyframes zoom {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  

  /* The Close Button */
  .close {
    font-family: 'Open Sans';
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  p {
      display: inline-flex;
      width: 50%;
      font-family: 'Open Sans', cursive;
  }
  #aboutMain {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
  }


html {
    font-family: 'Dancing Script', cursive;
    background-color: white 1s linear;
    font-size: 1.5em;
    color: rgb(68,95,58)
}


h2 {
    margin-top: 2em;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}

#logo {
    width: 90vw;
    justify-self: flex-end;
    /* width: 500px; */
    fill: black;
}
li {
    list-style: none;
    display: inline-block;
}
ul {
    width: 50em;
    margin: 1em 0 0 0;
    display: flex;
    justify-content: space-evenly;
}
/* #gallery {
    margin-top: -10vh;
} */
main {
    display: flex;
    flex-direction: column;
}

#carousel {
    display: flex;
    justify-self: center;
}

#galleryMain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
}

#carouselMain {
    display: flex;
    align-items: center;
}

img {
    align-self: center;
    max-width: 20%;
    border-radius: 5px;
    margin: .25em;
    /* margin-left: 1.5em; */
    /* max-height: 10%; */
}
nav {
    display: flex;
    flex-direction: row;
}
