@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('./reset.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Open Sans', cursive;
    /* background-color: black; */
    color: black;
}

#logo {
    width: 90vw;
    justify-self: flex-end;
    /* width: 500px; */
    fill: black;
    margin-top: -30vh;
}
li {
    list-style: none;
    display: inline-block;
}
ul {
    width: 50em;
    margin: 1em 0 0 0;
    display: flex;
    justify-content: space-evenly;
}
/* #gallery {
    margin-top: -10vh;
} */
main {
    display: flex;
    flex-direction: column;
    margin-top: -20vh;
}

#carousel {
    display: flex;
    justify-self: center;
}

#galleryMain {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#carouselMain {
    display: flex;
    align-items: center;
}

img {
    max-width: 25%;
    border-radius: 5px;
    margin-left: 1.5em;
    /* max-height: 10%; */
}
nav {
    display: flex;
    flex-direction: row;
}